[2014-10-02 15:10] fyrebyrd3 opened #1 "404 error"
I tried to use this package, but I get the error (below) from R.

Installing github repo(s) sjewo/readstata13/0.1 from hadley
Installing sjewo/readstata13.zip from https://github.com/hadley/sjewo/readstata13/archive/0.1.zip
Error: client error: (404) Not Found

[2014-10-02 15:14] #1 closed, assigned to nobody

[2015-03-31 17:55] shv38339 opened #13 "Stata factors to R factors"
Hello, I've used your package for a class I am assisting a professor with this semester and it has been very useful, but I have run into an issue.

I am importing a Stata 13 data set to R. I'm not too familiar with this Stata data set, but what I do know is that it has many factored variables WITH labels.

Unfortunately, I cannot figure out a way to upload the data set as factored but WITHOUT labe

[2015-03-31 18:46] sjewo commented on #13
At the moment there is no option to import factors without their labels, but you can easily convert them after import:

[code]

[2015-04-01 13:00] shv38339 commented on #13
Thank you very much for the swift response. I'll be sure to let let me class know and keep up the great work.

[2015-04-01 15:14] #13 closed

[2015-04-21 16:20] benjamin-chan opened #14 "Warning issued when compress=TRUE and one variable has all NA values"
[code]

[2015-04-21 17:09] sjewo commented on #14
Hello Benjamin,

thank you for reporting this issue. I've submitted a fix in testing.

We will do some testing and include the fix in the next CRAN release. Meanwhile you may install the testing branch with devtools:
`devtools::install_github("sjewo/readstata13", ref="testing")`

[2015-04-21 17:11] benjamin-chan commented on #14
Thanks!

[2015-04-23 08:39] #14 closed

[2015-07-31 04:54] ck37 opened #16 "Much larger memory size required?"
Is it expected that loading the dataset in R may require much more memory than the dta filesize? E.g. I have a 21GB .dta file that requires 21gb of RAM in Stata, but balloons to about 100GB in R. Is there anything that I should do to resolve this, or is it just due to a different storage mechanism in R?

[2015-07-31 14:25] sjewo commented on #16
Hi Chris!
I would expect some memory overhead due to the R data structures and additional attributes read.dta13() generates. We're inspecting this issue at the moment. Could you give us some information about your .dta file (number of rows and columns, type of data)?

[2015-08-06 20:37] kendonB opened #17 "Error saving dta"
Seems to work fine with iris but gives an error with this one.

My data:

https://www.dropbox.com/s/133i7pn7x0xcsj1/tmp.RData?dl=0

    save.dta13(data = tmp2, version = 117, file = "tmp.dta")
    #  Error in FUN(X[[i]], ...) :
    # 4 arguments passed to .Internal(nchar) which requires 3

[2015-08-06 21:11] kendonB commented on #17
This happens when trying to save a ``data.frame`` with ``character`` variables. Converting these to ``factor`` then allows it to work.

[2015-08-06 21:56] JanMarvin commented on #17
Hey,
looked into it, works for me with the current CRAN release. Works with R and looks good in Stata 14. Anything I should look out for?

[code]

[2015-08-06 22:01] JanMarvin commented on #17
Sorry, ment `all()` not `any()`
[code]

[2015-08-06 22:02] kendonB commented on #17
Strange. I'm using v0.7 (current on CRAN). Could be a Windows quirk? I'm also using RRO 3.2.0.

[2015-08-06 22:25] JanMarvin commented on #17
Sorry, still unable to reproduce it (Windows 7 64bit and R 3.2.1 32- and 64-bit). RRO is built with the intel compiler icc iirc? That should not bother the CRAN Windows binary.

[code]

[2015-08-06 22:34] kendonB commented on #17
OK I have it working now. Had to upgrade to RRO 3.2.1. Thanks!

[2015-08-06 22:37] kendonB opened #18 "factor variables are saved as integers"
Could either convert to character or give a warning.

[2015-08-06 22:37] JanMarvin commented on #17
No problem. Glad it is working.

[2015-08-06 22:37] #17 closed

[2015-08-06 23:35] JanMarvin commented on #18
Although this behavior is intentional, I will consider to print a warning. Thanks for the suggestion.

[2015-08-07 12:39] JanMarvin commented on #16
Any news on this one? We did look into it. Tested with some smaller (2.8 and 5.x GB) numeric data sets and it appeared as if R uses a few megabytes more to store the data. For instance the 2.8GB dta-file was imported to a 3GB R-object (`pryr::object_size()`). A cause for R to use more memory can be that Stata knows a few C-types R does not handle e.g. Stata has shorts, bytes and ints, R only has i

[2015-08-07 12:50] #18 closed

[2015-08-14 07:23] #16 closed

[2015-09-04 16:17] benjamin-chan opened #20 "Opening large dta file in Stata 13.1"
I wrote a large file using `readstata13_0.7`. The dta file was written without error. However, when I try to open the file from Stata 13.1, I get the following message:

[code]

The file is 3 GB. I've tried opening a smaller version of the data file (a 5% sample of rows, same columns, 150 MB) and it opened without error.

The call to `save.dta13` that saved the dta file was:

[code]

System inform

[2015-09-04 18:38] JanMarvin commented on #20
Hey @benjamin-chan ,

can you please check this with the latest release? [1] Sounds to me like this is just what we fixed in 0.7.1. It is on CRAN, just run `install.packages("readstata13")`.
You have to rewrite the file using readstata13. Importing this in Stata is not possible (they check the map positions, if the position does not look like what they expect, they bail out). The dta-file is corre

[2015-09-04 21:51] benjamin-chan commented on #20
installing 0.7.1 seemed to work

[2015-09-04 21:51] #20 closed

[2015-10-14 18:14] pbaylis opened #22 "Error importing large dataset"
I'm importing a large dataset from Stata, and getting the following error:
"Error: When attempting to read \<strls\>: Something went wrong!"

I've included a MWE using Stata code and R code to reproduce the error below. If I use saveold in Stata, I am able to import the data using read.dta from foreign without issue (my current workaround). The machine I'm using has 192G of RAM and Stata 13, with

[2015-10-14 21:55] JanMarvin commented on #22
Thanks for the report. Your example works for me using Stata 14 and both save and saveold(13). Tomorrow I will seek for a PC with enough memory and Stata 13. The error you see is thrown because our function is trying to read a a string inside the dta-file, this string is either not (yet) written or we are for whatever kind of reason at a wrong position inside of the dta-file. Saving that much data

[2015-10-15 09:51] sjewo commented on #22
I can confirm this error on Windows 7 64bit with R 3.2.2 and readstata 0.8 with a Stata 14 test file. We take a look into this issue.

Could you please tell us about OS and R Version?

[2015-10-15 16:46] pbaylis commented on #22
Thanks for looking into it, I'm on Windows 2008 Server with R 3.2.2 and
readstata 0.8 with a Stata 13 test file.

On Thu, Oct 15, 2015 at 2:51 AM, Sebastian Jeworutzki <
notifications@github.com> wrote:

[2015-10-15 17:06] pbaylis commented on #22
I also checked on OS X 10.10.5 (Yosemite) with Stata 13 and R 3.1.3/3.2.2 (I upgraded). The error did not occur, so perhaps this a Windows issue?

Later today I can try transporting the file saved in Stata 13 (Windows) to OS X and vice-versa to see if the problem is in the reading or the writing.

[2015-10-15 20:13] sjewo commented on #22
We did some testing (awful slow because of small memory systems) and added some changes to fix this issue. Could you test it on your system with branch "bigfile"?
[code]

[2015-10-15 21:36] kendonB opened #23 "Factors saving as numeric"
These I would expect to be the same:

    library(readstata13)
    save.dta13(iris, file = "iris.dta")
    tmp <- read.dta13("iris.dta")
    tmp$Species
    iris$Species

I'm sure this is a feature not a bug, but I'd give a warning that the factors don't save as strings:

[2015-10-15 21:40] sjewo commented on #23
Hi Kendon,
factors are kept as integers by default. Please try this code:
[code]

[2015-10-15 21:47] kendonB commented on #23
Seems to not work for large datasets:

    library(readstata13)
    iris_big <- bind_rows(lapply(1:1000, function(x) iris))
    save.dta13(iris_big, file = "iris_big.dta", convert.factors=T)
    tmp <- read.dta13("iris_big.dta")
    tmp$Species # All empty strings
    iris_big$Species # Good

[2015-10-15 22:04] pbaylis commented on #22
Still getting the same error:

     Error: When attempting to read <strls>: Something went wrong!

     [1] ‘0.8.1’

[2015-10-15 22:09] sjewo commented on #23
Works for me with R 3.2.2 on Windows 7 64bit and R 3.2.1on Linux 64bit with the package from CRAN.

Can you give me some information about your OS and R version?

[2015-10-15 22:10] kendonB commented on #23
I'm using RRO 3.2.1 on Windows 8.1 and readstata13_0.7.

[2015-10-15 22:11] sjewo commented on #23
Please install the last version from CRAN (0.8) and try again.

[2015-10-15 22:17] JanMarvin commented on #23
Works for me as well with Arch and our CRAN release. Sorry @kendonB but we do not use RRO and we do not develop for it. If you stick with them you are on your own. For issues, please test with R and the current CRAN release or our master branch.

[2015-10-15 22:17] #23 closed

[2015-10-15 22:25] sjewo commented on #22
Hi, maybe you fetched the wrong branch (testing)? With branch "bigfile" you should see some additional warning with debug output if this error occurs.

[2015-10-15 22:38] kendonB commented on #23
Works after upgrading to readstata13_0.8. Thanks so much!

[2015-10-15 23:05] pbaylis commented on #22
I fetched the correct branch, but I do have another R instance open running something time-consuming. I'm not familiar with how the update procedure works, maybe it wasn't able to update the package due to the other session? I tried on a different windows computer (with Windows 7) and it's now working for me.

I'll close but will try again on 2008 Server when my other task completes and report bac

[2015-10-15 23:06] pbaylis commented on #22
Rather - I'll let you guys decide whether you want to close. Not sure what usual protocol is.

[2015-10-17 17:06] sjewo commented on #22
I'll close this bug for now - reopen the issue, if the problem still occurs.

[2015-10-17 17:06] #22 closed

[2016-01-11 01:16] kendonB opened #24 "How does one add stata variable labels in ``save.dta13``?"

[2016-01-11 07:35] JanMarvin commented on #24
Hey @kendonB ,
you can do it this way
[code]

Variable labels do not stick with a variable, so moving variables around in a data frame does not maintain the correct variable order (e.g. moving variable labels around after attaching the attributes `dd <- dd[c("y","x")]` will print variable label "numerics" for y and "characters" for z).

A word of caution, `lenght(attr(dd, "var.labels"))` must matc

[2016-01-14 07:54] yimingli opened #25 "save.dta13() incorrectly write "-Inf" resulting from log(0)"
`save.dta13()` seems to have some problems writing `-Inf` as missing values in Stata file.

[code]

Here are the Stata results: only `foreign` package does it right.

[code]

[2016-01-14 08:53] sjewo commented on #25
Thanks for your report @yimingli !

This issue should be fixed in testing (commit d94feaf0b8da3436fec4f51b0f72325fbc9e8227 and 8e4e35808a33668bf9990c208e8b7848c6bd3d48).

Maybe you could give it a try?

[2016-01-14 17:53] yimingli commented on #25
Thanks @sjewo !

I tried a couple of times, but couldn't install the testing branch. Here are the error messages, could you help taking a look? Thanks a lot!

[code]

[2016-01-15 15:23] sjewo commented on #25
HI @yimingli !

I found this post about this build issue: http://thecoatlessprofessor.com/programming/rcpp-rcpparmadillo-and-os-x-mavericks-lgfortran-and-lquadmath-error/

Looks like you need to install additional libs.

[2016-01-16 06:07] yimingli commented on #25
I tested the latest testing branch. At least my working example above worked fine. Thanks @sjewo !

[code]

[2016-01-26 18:48] #24 closed

[2016-02-24 15:56] #25 closed

[2016-02-28 20:36] blucap opened #28 "Fails to install"
I tried to install, however, I keep receiving messages that installation fails. I installed devtools as per the instruction on this site, and gfortran. But nothing helps. I run Linux mint 17.1 on a 64 bits system, R version 3.2.3 (2015-12-10)). At my older home pc it works like a charm, but not on tis new work pc.

See errors:
/usr/bin/ld: cannot find -llapack
/usr/bin/ld: cannot find -lblas
colle

[2016-02-28 20:41] sjewo commented on #28
You need to install `libblas-dev` and `liblapack-dev` too. Maybe an `apt-get build-dep r-base r-cran-rcpp` will get you all dependecies.

[2016-02-28 20:41] #28 closed

[2016-02-28 21:07] blucap commented on #28
Yup! The library now loads, `libblas-dev` and `liblapack-dev` did the trick! Thanks.

[2016-03-03 02:43] erikwestlund opened #29 "Variable length limit"
Stata limits variable lengths to 32 characters. R does not.

If you save using this package and have long variable names, it will not truncate them. Stata (i'm using MP version 14) will load the, but cannot access those with too long names.

I'd recommend, ideally, an option on how to abbreviate (truncate/remove random characters/etc.)  I'd looka t how the foreign package does it.

[2016-03-03 12:23] JanMarvin commented on #29
Thanks for the report. We already resize our variable names, but still we are a single nchar to long. I will push a fix to our master branch soon. To convert all spaces etc. to a Stata readable format in 0.8.2 convert.underscore was slightly improved.

[2016-03-03 13:40] JanMarvin commented on #29
I did push another commit to master which checks on our R side the maximum characters allowed. We already have limits for earlier dta-file versions implemented. This new checks only apply to dta-version 117 and 118.

[code]

I can read both files and Stata can handle their varnames. Still I feel that truncating is not a pleasant way to go. If you really have to work with such long variable names t

[2016-03-03 13:40] #29 closed

[2016-05-16 16:28] skirmer opened #30 "Character Fields Importing as Numeric"
Hello! I am running into a problem with loading some large Stata 13 files. Long string/character fields are being converted to a long number for some reason. I tried importing the same file with readstata13 and with haven, and the attached (some values anonymized for obvious reasons) is the first five lines of each result. Any advice on how to handle it?

[stata13_example.xlsx](https://github.com/

[2016-05-16 17:34] sjewo commented on #30
Hi skirmer,
just set the option ````replace.strl=TRUE```` to replace the numbers with the actual string.

[2016-05-16 20:26] skirmer commented on #30
Ah, thank you!

[2016-05-16 20:31] #30 closed

[2016-05-16 20:50] JanMarvin commented on #30
Maybe we should set it as default or check if a file contains strLs and print a message?

[2016-05-17 07:06] sjewo commented on #30
Maybe we should change the default. It seem that replacing the strings is the expected behavior.

[2016-09-18 17:56] JanMarvin opened #40 "Limits for saving dta-files"
While fixing the unsigned integers, I stumbled upon something else. There are potential problems with huge datafiles stored in older Stata versions, where we have to determine some limits. Stata has used different limits for SE and non SE dta-versions. We could end up in a case, where we ignore Statas limits and write a dta-file to big for Stata to read.
Good thing is, it should not be a problem f

[2016-09-21 12:38] luke-m-olson opened #42 "convert.underscore=TRUE "too aggressive""
Issue:
`save.dta13(test_df, "testdf.dta", convert.underscore=TRUE)` appears to convert all non-alphabetical characters in variable names to "_".  It seems that it should leave valid characters alone. This would be consistent with the help file entry:

But seems different than the note in the NEWS file:

Here is a reproducible example:

[code]
In Stata 14.1, the variable names are identical:

as th

[2016-09-21 12:52] JanMarvin commented on #42
Thanks for the report and sorry for the inconvenience. This is indeed a bug. Should have been in the release notes, this is already fixed in the latest CRAN release which contains some additional changes as well. Please update the package running `install.packages("readstata13")`.
We check this now via a unit test, so it shall not happen again.

Marvin

[2016-09-21 13:03] JanMarvin commented on #42
The commit that contains the fix is https://github.com/sjewo/readstata13/commit/bd1a781d9fae9f04f24e287ee4a9e5f6ce5d438a

Could you please confirm if this fixes your problem? Thanks

[2016-09-21 13:51] luke-m-olson commented on #42
Thank you for your quick response.
That is great to hear. Unfortunately, I can't test it work, as we are "stuck" with and earlier version due to "company policies."
The commit that you sent would fix the var.1 naming issue. I wonder if it should be
names(data) <- gsub("[^a-zA-Z0-9_]", "_", names(data))
rather than
names(data) <- gsub("[^a-zA-Z0-9:]", "_", names(data))Since ":" is not in the set of

[2016-09-21 13:57] luke-m-olson commented on #42
Or even better
names(data) <- gsub("[^a-zA-Z0-9_]", "_", names(data))names(data)[grepl("^[^a-zA-Z0-9_]", names(data))] <- paste0( "_", names(data)[grepl("^[^a-zA-Z0-9_]", names(data))])
Since this version won't overwrite the first character, which might carry some information, but will instead prepend an underscore.
luke

      From: Jan Marvin Garbuszus <notifications@github.com>
 To: sjewo/reads

[2016-09-21 14:26] luke-m-olson commented on #42
My apologies for the repeated emails. The previous one had a bug in that it would add an underscore in front of all variable names.
A two line suggestion would be
names(data) <- gsub("[^a-zA-Z0-9_]", "_", names(data))names(data)[grepl("^[0-9]", names(data))] <- paste0( "_", names(data)[grepl("^[0-9]", names(data))])
luke

      From: Jan Marvin Garbuszus <notifications@github.com>
 To: sjewo/reads

[2016-09-21 14:43] JanMarvin commented on #42
No worries. I'm definitely no expert on regular expressions so we might consider additional tweaking. Will look into it tomorrow.

[2016-09-23 12:27] JanMarvin commented on #42
@luke-m-olson Just for my understanding, I get the first line.
`names(data) <- gsub("[^a-zA-Z0-9_]", "_", names(data))`
Though the `_` is not really needed. But I fail to understand the second.
`names(data)[grepl("^[0-9]", names(data))] <- paste0( "_", names(data)[grepl("^[0-9]", names(data))])`
To me this is a guard against variable names starting with numbers which neither R nor Stata allow. Am

[2016-09-23 17:05] luke-m-olson commented on #42
I guess my though was that Stata does not allow this, but R might accept numeric variable names, but then put backquotes in front of them.
Consider the following code:
temp <- data.frame("a"=1:3, ".5b"=1:3, "5"=1:3)
temp
  a X.5b X5
1 1    1  1
2 2    2  2
3 3    3  3

So the data.frame() function protects against improper names, but R will let you assign "bad" names manually.
# assign new names
n

[2016-09-26 07:39] JanMarvin commented on #42
I just commited your suggested changes. Thanks

[2016-09-26 07:39] #42 closed

[2016-09-26 11:45] luke-m-olson commented on #42
Great. Thank you once again for the super-quick follow up and even more for this useful piece of software.

      From: Jan Marvin Garbuszus <notifications@github.com>
 To: sjewo/readstata13 <readstata13@noreply.github.com>
Cc: luke <lukemolson@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Monday, September 26, 2016 3:39 AM
 Subject: Re: [sjewo/readstata13] convert.underscore=TRUE "too a

[2016-09-29 21:43] yimingli opened #43 "NA in string variable fail to save to Stata format"
Maybe I'm missing something, but here is a MWE:

[code]

Writing to Stata data format seems successful. But I couldn't open the dataset:

[code]

Here is my environement

[code]

[2016-09-29 22:20] JanMarvin commented on #43
Hey @yimingli, thanks for the report. Could you please check with the testing branch. I committed a fix just yesterday.

[2016-09-29 22:21] JanMarvin commented on #43
This should fix the issue: https://github.com/sjewo/readstata13/commit/849ca8710260b38d7168f4feffdae69432f9d34a

[2016-09-30 01:11] yimingli commented on #43
@JanMarvin Thanks! It works now.

[2016-09-30 01:17] yimingli commented on #43
@JanMarvin Although in my real dataset, there is a little problem. My string variable "employed" takes "Yes", "No", or missing. So the longest string has 3 characters. But the generate `dta` file stores the variable as `str4`:

[code]

[2016-09-30 04:16] JanMarvin commented on #43
In our R code we add a plus one to the size of each string. Saw that while committing the fix. This might no longer be required (in case we got better in writing strings). I'll look into it later today. After some coffee. Thanks for reporting and testing!

[2016-09-30 05:50] JanMarvin commented on #43
Just pushed a correction for the +1 size to our testing branch. For older files you can use `compress` in Stata to reduce their size.

[2016-10-07 07:47] #43 closed

[2017-02-14 20:44] ericmelse opened #44 "File not found"
Although I am certain that the Stata13 file is located in the directory:
`setwd("C:/Ftpfolder/StataStuff/dta13")`
I get the error "File not found" using this syntax:
`dat <- read.dta13(system.file("auto13.dta", package="readstata13"), convert.factors=FALSE)`
What am I doing wrong?

[2017-02-14 23:50] JanMarvin commented on #44
Hey, if the file you are trying to read is in that folder, check it with `dir()', importing should work like this `dat <- read.dta13("auto13.dta", convert.factors=FALSE)'. The system.file part is only required for our tests with files we ship with the package, not for enduser files.
Hope that helps,
Marvin

[2017-02-15 06:06] ericmelse commented on #44
Dear Marvin,
Yes! This works, and I also was able to export a R data frame and save it as a Stata dta file.
Many thanks for your quick advise as well as for this cool package.
(When time permits, you might consider a similar package for the Stata 14 dta format.)

[2017-02-15 07:04] JanMarvin commented on #44
Dear Eric, that is already implemented. You can import Stata 14 dta-files and write Stata 14 dta-file. Have a look at the help pages.
Marvin

[2017-02-15 07:04] #44 closed

[2017-03-17 00:10] otoomet opened #46 "make the 'file' argument to connection, not character"
I am using readstata13 for data interchange with other team members.  A few of the files we handle are rather large (>2G) and I prefer to keep it in the compressed format and just decompress on-the-fly as what you can do with read.table and friends.  However, readstata13 does not accept `file` argument to be a connection.  Can this feature be added?

And thank you for the package :-)

[2017-03-17 08:39] sjewo commented on #46
Thanks for the suggestion! I'm not sure if its possible to use R connections, because the file is read in the C++ part. Maybe it is possible to create a temporary file from the connection.
We'll take a look into this issue.

[2017-04-28 09:41] JanMarvin commented on #46
I have pushed an attempt to handle zip files in `read.dta13()` to our branch "connections". Handling of zip files containing dta-files is solved calling `unzip()` internally and extracting the zip-file to `tempdir()` and reading it from there. Currently there is no Rcpp solution for reading R connections. Since we read from files, we would not benefit from reading the information from a connection

[2017-05-22 21:32] Kevin-Jin opened #49 "Avoid unnecessary reading when select.rows is specified in read.dta13()"
I'm working with a 12GB file with around 4 million rows. Since there's no way I could keep it all in memory, I thought I would be able to process the file in chunks using the select.rows parameter, but I realized that read_dta.cpp actually is inefficiently implemented and reads the entire file in every call no matter what values are passed to select.rows.

I'm currently working on a pull request t

[2017-05-23 00:15] JanMarvin commented on #49
Hello @Kevin-Jin, well chunk-wise reading a file was the reason I implemented this. And yes I know that it reads the full file and returns only the required parts. Better save then sorry was the idea (a while ago it took us some time to fix all the initial fseeks). There already is a data set which has the different types in one of our folders iirc. Let me know if that helps. Looking forward to th

[2017-05-23 08:49] JanMarvin commented on #49
@Kevin-Jin I have pushed some code to our fseeko64 branch. For now fseeko64 is used row-wise. I calculate the row-width, check if I need to import it and if not skip the row. I checked with my biggest Stata file (~2GB) and it seems to work quite well. We might want to check if we can skip larger parts e.g., if I want only the first row, skip rlength * (n-1), but this needs some more thinking and I

[2017-05-23 13:48] Kevin-Jin commented on #49
[My updates](https://github.com/Kevin-Jin/readstata13/commit/2e5c4a8776e3669e9bcab75cbd17ce87ae89c70d) are less invasive (with less refactoring) but gets the job done with the file I have, at least for non-strL columns. I avoid the loop when skipping rows and instead just multiply row size by the rows skipped when calling fseeko64(). I think it would be a bit cleaner if I just transfer over your u

[2017-05-23 13:50] Kevin-Jin commented on #49
I do like your use of the rlen vector though because it allows us to consider future cases of skipping columns instead of rows. I can transfer that over too if you're fine with using my branch.

[2017-05-23 13:57] Kevin-Jin commented on #49
On second thought, I think just updating your branch is fine. Is it possible for you to grant me write access?

[2017-05-23 15:24] JanMarvin commented on #49
Sorry please just create a pull request to the branch if you want a modification. Didn't have time to look into your proposal, will do soon

[2017-05-23 16:28] JanMarvin commented on #49
I have updated my pull request with your proposal. I like the idea for its simplicity jumping in where required, read whats needed and bail out. This wont allow us to read a sequence of rows, but obviously is the fastest way to read a selected part. And is way prettier code than my initial attempt. I did not copy your warning/stop message. If the dta-file is written incorrectly we will bail at the

[2017-05-24 15:04] Kevin-Jin commented on #49
Looks good to me. Thanks!

[2017-05-24 16:56] JanMarvin commented on #49
Thanks, in testing now. Should be in the next CRAN release.

[2017-05-24 16:56] #49 closed

[2017-05-24 16:57] JanMarvin commented on #46
Any update @otoomet ?

[2017-05-26 14:17] JanMarvin opened #51 "select.col"
The next big thing. Some pseudo R-code.

[code]

[2017-06-08 13:35] Kevin-Jin opened #52 "Methods to read only the metadata of Stata files"
Since it may be valuable to learn of the names of the data fields or the number of rows and columns in a Stata file that is too large to read into memory, I propose either (1) implementing separate `dim.dta13()` and `colnames.dta13()` functions or (2) adding a flag to the existing `read.dta13()` function that stops it from reading the `<data>` portion of the Stata file so that a 0-row data.frame —

[2017-06-08 15:34] JanMarvin commented on #52
Hey @Kevin-Jin, what happens if you set 'select.rows =0'. Unsure if I implemented a failsafe to avoid this, but maybe we can use this as a start? Currently unavailable, but I'll look into it next week. Thanks for the idea

[2017-06-08 15:41] Kevin-Jin commented on #52
In this case, the total number of rows in the file cannot be determined. The simplest solution may just be to return an `nrow` attribute in the function in all cases.

[2017-06-11 10:46] JanMarvin opened #53 "Implement 119 (Stata 15)"
Stata 15 was released last week. 118 is still valid for Stata 15 (if number of rows < 32,767) else 119 is used.

http://www.stata.com/help.cgi?dta

119: http://www.stata.com/help.cgi?dta_119

[2017-06-11 17:19] JanMarvin commented on #53
First part pushed. K is now `uint32_t` in f119. There is another difference in writing strls:

[2017-06-13 17:10] #51 closed

[2017-06-13 17:22] JanMarvin commented on #52
I have thought about this and right now I am not gonna implement additional meta-data options. Although it might be possible that some industry people out there have datasets with insane number of variables and still want to work with R and or Stata, but right now I consider reading with `select.rows = 1` is fast enough for me to collect metadata from dta-files. In every other case we would have t

[2017-06-13 17:22] #52 closed

[2017-07-09 14:53] JanMarvin commented on #46
Just found Jim Hesters package `archive` and had a quick view at the used approach. He manages to use connections in Rcpp (maybe we could borrow some of his code).

Anyway, my initial thought, that connections read everything into memory and access it from there (so that we would end up with several copy of the same data) appears to be wrong. Just testet connections with read.csv and archive and s

[2017-07-11 04:27] otoomet commented on #46
Thanks, Jan and sjewo :-)

I was using 'haven' meanwhile (that one does on-the-fly decompression, I don't know how) but seems it cannot handle version 118 files.  You referred to the 'connection' branch, where can I find it?  I prefer bzip2 for my own work but just plain zip should give us most of the goodies of compression.

[2017-07-11 07:51] JanMarvin commented on #46
@otoomet I did remove it the day before yesterday since you did not respond for two months or so. Is now back up. You can install it using `devtools` with: `devtools::install_github("sjewo/readstata13", ref = "connection")` iirc. Still feedback is required. I do not need this in my everyday life, so if you want something like that included, please give some feedback.

[2017-11-19 19:02] JanMarvin opened #56 "Implemented handling of both len 129 and 130"
Not sure if problematic, but maybe we handle only one of the two cases. Fuc should be straightforward as commented above the section.

[2017-11-24 13:44] JanMarvin commented on #56
was not missing at all. left a comment

[2017-11-24 13:44] #56 closed

[2017-11-24 17:22] JanMarvin opened #57 "parallel importing of data"
It might be possible. Right now we read data in a single attempt:

` read first line ---> read data part -- > read last line`

For the partial reading implementation we calculate how much of a line we can skip: Our data import looks like this:

` calculate jump size --- > read data ---> jump ---> read data ---> ...`

We could use the information how wide a row is, similar to how we skip over parts

[2018-03-10 23:02] #57 closed

[2018-03-10 23:02] #53 closed

[2018-11-28 18:06] bendermh opened #62 "Installation error on FreeBSD"
When readstata13 is installed on FreeBSD, following compilation error appears:

[2018-11-28 20:57] sjewo commented on #62
I added a fix in a00cc35af886dc24b4f203b42aa6dd347633caf7
Could you try the testing branch?
`devtools::install_github("sjewo/readstata13", ref="testing")`

[2018-11-29 06:51] bendermh commented on #62
Hello sjewo, thank you for your fast response, I con firm you that the fixed version compiles now without error on FreeBDS.

[2018-12-01 02:08] #62 closed

[2019-05-05 23:54] JanMarvin opened #63 "Correct names for dta versions"
https://www.stata.com/help.cgi?dtaversion

Should be checked

[2019-05-06 00:06] JanMarvin opened #64 "Dtaverify"
https://www.stata.com/help.cgi?dtaverify

We might use this to verify our dta format 119?

[2019-05-06 12:09] JanMarvin commented on #64
ran a few tests and fixed a bug with format 119

[2019-05-06 12:09] #64 closed

[2019-05-06 12:33] JanMarvin commented on #63
Added a reference in the vignette and maybe we should advertise some more that we are the only package to read all Stata formats?

[2019-05-06 12:33] #63 closed

[2019-09-17 19:32] JanMarvin opened #65 "add %tq date format"
A possible fix

[code]

[2019-09-22 12:23] JanMarvin commented on #65
closed in https://github.com/sjewo/readstata13/commit/b442419cf6c51a3fe09e3b744834303ed5b2060d

[2019-09-22 12:23] #65 closed

[2019-09-26 01:38] brook-milligan opened #66 "Fix use of fseeko64 on non-Linux platforms"
fseeko64 is not available on non-Linux platforms and there is no need for off64_t as it is not used.  Therefore, realign readstata.h to avoid compile errors.

[patch-inst_include_readstata.txt](https://github.com/sjewo/readstata13/files/3655462/patch-inst_include_readstata.txt)

[2019-09-26 06:50] JanMarvin commented on #66
Hi @brook-milligan are our defines not enough? On which OS do you want to build? Since we build on Windows, I assume a not Linux check is not sufficient

[2020-04-25 09:59] JanMarvin opened #67 "correct format for !is.na(vartypen)"
Have this pending change for na vartypen. It's been buried with some other ideas so unsure what exactly is going on. Might be something Stata expects. Leaving this for future reference

[code]

[2020-05-26 13:40] sjewo opened #68 "Check encoding for factor levels"
Beginning with Stata 14 on value labels must be UTF-8 encoded (https://www.stata.com/help.cgi?dta#labelnames).

The man page of `save.dta13` should be updated and a note to use `version=118` for newer Stata  versions should be added. We might also discuss a change of default version settings.

[2020-06-03 17:00] jaySf opened #69 "Variable labels not correctly encoded when containing German umlauts and sharp s"
Hi, first of all thank you for providing `readstata13`!

I've encountered an issue, though, when attempting to save variable labels that contain German umlauts and sharp s.

_MCVE:_

[code]

In Stata then, the variable labels are not correctly encoded.

[code]
I've invented a workaround using a conversion table to `"latin-1"` and `gsub`. Maybe that might help to solve the issue in `save.dta13`. Al

[2020-06-03 17:51] sjewo commented on #69
I made a small change in `save.R` in commit d224abd9ce2b112064fc64ec5b2777acad92bb13.

Could you test, if the issue is solved in the `testing` branch?

[code]

[2020-06-04 06:26] jaySf commented on #69
You're fast! I can confirm this would work now with my actual data; the variable labels now appear in Stata with the right encoding!

Are the other attributes affected somehow by this change? When attributes e.g. `"datalabel"` or `"time.stap"` were already defined, `save.dta13` overwrites/deletes them, except `"var.labels"`. However, I don't know if it hasn't been like this before because I focuse

[2020-06-04 06:45] jaySf commented on #69
Ah, I just tested if the umlauts etc. within character and factor variables are encoded correctly, and this is not the case. `Straße, Süd` becomes `StraÃŸe  SÃ¼d` for instance.

[2020-06-04 07:29] JanMarvin commented on #69
Thanks for the report @jaySf . While you're at it, some tests for this would be appreciated. I believe neither @sjewo nor me have been working with Stata on win or any non utf8 os for a long long time

[2020-06-04 08:24] sjewo commented on #69
Thanks again, @jaySf! I could reproduce the problem:

[code]
I had to make some changes to save.dta13 because the reencoding wasn't triggerd on my system. Probably we have to check the data for non UTF-8 strings and not just only locale of the environment.

@jaySf could you post the output of `localeToCharset()`?

@JanMarvin I already made some changes to `save.encoding()`, because umlauts where j

[2020-06-04 09:27] jaySf commented on #69
@JanMarvin Sure, I have to export to .dta multiple times the next days, and I'll keep an eye on everything.

@sjewo Here comes the output:

[code]

[2020-06-04 19:06] JanMarvin commented on #69
With tests I meant something like the following read test. We might go the same way around, start with something in latin1 and utf8, save it, as Stata 6 - 14(mp) and read it. Finally test if the result is equal to our expectation.

I fear that otherwise we'll end up in a encoding mess with working approaches only for a specific use case.

https://github.com/sjewo/readstata13/blob/d19af402e5c9fee78

[2020-06-05 12:11] sjewo opened #70 "Respect already defined attributes on save"
I moved [this note](https://github.com/sjewo/readstata13/issues/69#issuecomment-638630201) by @jaySf into a new issue:

Should we use already defined attributes for
- time.stamp
- data.label
- var.labels ?

And what about the other attributes?

[2020-06-05 12:14] sjewo commented on #69
@jaySf I did some tests on my Windows machine and after my last commit (c309b16) character vectors and factors are saved as UTF-8.

Does it work with your data?

[2020-06-06 07:12] sjewo commented on #69
Hi @jaySf, thanks for testing!

I think that the problem is a result of the latin-1 coding of the hebrew characters. Those are only defined in latin-8 (see https://en.wikipedia.org/wiki/ISO/IEC_8859).

[2020-06-06 07:37] JanMarvin commented on #69
Thanks for testing!

Do you mean encoding is broken for all non 118 versions?

[2020-06-06 08:00] jaySf commented on #69
@JanMarvin I didn't want to be verbose, but I see it might be significant :) Here Stata 14 output of all versions:

[code]

[2020-06-06 08:14] JanMarvin commented on #69
*sigh* I fear one of us needs to take a look (this is why I asked for unittests in the first place)

[2020-06-06 08:43] JanMarvin commented on #70
Can't remember precisely what my intentions were, but I don't know if it's a good idea to use any of the attributes of an existing data.frame.

* Most likely you won't set the time.stamp at all, it was just added because I could.
* The data label might be preserved but then again, if we go from Stata to R and back, wouldn't we want to set a new name anyways?
* Labels are foreign to R and the handl

[2020-06-06 08:52] sjewo commented on #69
I took a look into the dta documentation (https://www.stata.com/help.cgi?dta_117#strings):
dta-files in format 117 and below support only ascii encoding. It is not clearly stated, if this includes extended ascii like latin-1.

To make things more complicated, you need to convert string to UTF-8 in Stata 16 to get special characters right: https://www.stata.com/manuals/dunicodetranslate.pdf

Right

[2020-06-06 09:58] jaySf commented on #70
@sjewo Thanks for outsourcing my note.

Actually @JanMarvin is right; I also think it is not necessary to change much. I had simply imported a .dta file from Stata with `read.dta13()` and saw all the attributes. I thought they should be set when exporting before using `save.dta13`, but actually it's `read.dta13()` that converts Stata information into attributes. The only thing: a warning could be

[2020-06-06 10:21] JanMarvin commented on #69
Well they did support some encoding presumably some  kind of iso for european and asian encodings, I'll see if I have some spare time this weekend (actually had other coding plans, but meh)

[2020-06-06 10:58] JanMarvin commented on #69
There is a good chance that our files are written correctly and unicode versions of Stata (starting with version 14?) simply bork with `CP1252` which was previously perfectly fine. Opening the encodecp file (added in https://github.com/sjewo/readstata13/commit/2c825071030992162ac5f39890a62e31296c6cb5) in Stata 15.1 shows similar encoding problems. I claim that we're simply doing better than Stata,

[2020-06-06 11:30] JanMarvin commented on #69
My assumption seems to be right. Stata does not import dta files encoded with extended ASCII, but leaves this to the user [see: unicode translate](https://www.stata.com/manuals/dunicodetranslate.pdf#dunicodetranslate).

To me this issue is solved. Remaining question is do we want to convert the code snippet above into a save test, just to make sure that we are able to save and read encodings corre

[2020-06-06 12:00] jaySf commented on #70
Just a sidenote: I removed my Q/A on Stack Overflow since it's no longer applicable.

[2020-06-06 12:13] JanMarvin commented on #70
I've added an option to include varnames as character vector in https://github.com/sjewo/readstata13/commit/ebbba64feb0871f340af1ca7c6582bf0965f850a

[2020-06-11 11:13] JanMarvin commented on #69
Thanks for the report. Should be fixed in https://github.com/sjewo/readstata13/commit/8e9c1e1711c2c7bcd1f1ac45a61795ca841739c9

[2020-06-15 10:49] jaySf commented on #69
Confirmed, works fine now, thanks!

[2020-12-30 14:07] JanMarvin commented on #70
@jaySf could you have a look if this fixes your problem and close the issue if so?

[2020-12-30 14:11] #69 closed

[2020-12-30 14:25] #46 closed

[2020-12-30 14:25] #66 closed

[2020-12-30 14:29] JanMarvin opened #71 "move CI to github actions"
Travis is closing for open source projects [1] (and most likely the R support will dry out) and AppVeyor is great, but nowadays superseded by github Actions

[1] https://ropensci.org/technotes/2020/11/19/moving-away-travis/

* [x] add .github/workflows/R-CMD-check.yaml
* [x] deactivate AppVeyor (and Travis)
* [x] update README with the github badge

[2020-12-30 14:31] JanMarvin commented on #71
A .github/workflow/*.yaml file has to be added, a slightly modified version could be copied from any of my R projects and AppVeyor support should be deactivated.

[2020-12-30 17:58] sjewo commented on #71
Readme updated in e2b0f99f2501b330a9474edf2be1a2b1ee8cdd2f

[2020-12-30 17:58] #71 closed

[2021-01-19 15:42] Ales-G opened #72 "Saving long variable names"
Hello, I was wondering whether it would be possible to save long variable names using `save.dta13`I have a dataset with multiple very long variable names and using `save.dta13` they all get truncated. Is it possible to save them keeping original variable name?

[code]
After `save.dta13` I get the following warning message `Varname to long. Resizing. Max size is 32.`. Is there any possibility to ke

[2021-01-19 16:02] sjewo commented on #72
Thanks for your question!

In Stata variable names have a maximum length of 32 UTF-8 characters. This is a limitation of the dta file format.

You could assign variable.labels to your data:

[code]

[2021-01-19 16:12] Ales-G commented on #72
Dear sjewo,
thanks a lot for your prompt and kind reply!
as far as I know, Stata has expanded the maximum length of variable names.
For instance, while `haven` does not work with very long strings (wihile `save.dta13` works well), it does implement saving of long variable names.
Take the following example:
[code]
I am able to open the `longString.dta` file and the name is displayed correctly. Is t

[2021-01-19 16:21] sjewo commented on #72
Maybe Stata is able to work with longer variable names. But the Stata 16 file specification states:

  https://www.stata.com/help.cgi?dta#variablelabels

So I'm not sure if we we should allow longer variable names.

[2021-01-19 16:35] Ales-G commented on #72
Thanks for clarifying this and I understand your point of view!
I wonder whether it would be worth allowing this feature as an option if it does not affect how the file works in Stata while allowing greater flexibility.

Indeed, while you are clearly right, I am a bit puzzled because I am using a .dta file with hundred of variables longer than 32 UTF-8 characters. I am not sure how is this possibl

[2021-01-19 16:38] JanMarvin commented on #72
I agree with @sjewo and believe that we have had broken variable names previously which caused trouble
further down the road, e.g. they looked ok, but handling was somehow broken. Utf-8 32 is 128 char wide therefore stata might load longer than 32 char varnames without barking.

[2021-01-19 16:42] Ales-G commented on #72
Dear Jan,
thanks for your reply, just to clarify: so I should be able to correctly display variable names up to  128 char using `save.dta` or only up to 32 characters? From what I see, the truncation appears to occur at 32 character: is this correct? thanks a lot for the clarification

[2021-01-19 16:44] JanMarvin commented on #72
@Ales-G that is correct. 32 characters should be the limit.

[2021-01-19 16:53] Ales-G commented on #72
Yes, you are right I can shorten names, but it complicates things for me:

1) I have been working already a bit with this data (directly importing csv into Stata). I am now running some preliminary operations in R. Changing variable names would mean go through all of the code again and change variable names whenever I have called one of the variables that I have shortened the name of.

2) I am wor

[2021-01-19 18:42] JanMarvin commented on #72
We would have gone with the 128 char option if it would create valid datasets, but like I said, there were some problems on the Stata side of things. Unless it's possible to create a longer than 32 characters varname in Stata, any option would create a possible issue for other users. If you absolutely need it, you should have a look for the option and disable it yourself (gut clone and build).

Pe

[2021-01-19 18:42] #72 closed

[2021-02-13 09:38] jackobailey opened #73 "Support labelled vectors"
At the moment, readstata13 is the only package available that can write compressed Stata .dta files. But the package does not play nicely with labelled vectors from the tidyverse labelled package. Instead, it treats them as numeric and, thus, removes all value and variable labels when it writes them to disk.

Any chance that readstata13 could support labelled vectors?

[2021-02-13 09:54] sjewo commented on #73
Could you give a small usage example? I have no experience with the labelled package.

[2021-02-13 10:24] jackobailey commented on #73
Of course, see below.

[code]

When we open the file in Stata we see that there are no variable or value labels:

<img width="422" alt="Screenshot 2021-02-13 at 10 19 27" src="https://user-images.githubusercontent.com/37049065/107847657-4fe0c100-6de5-11eb-87e6-13a5b5318c0f.png">

<img width="499" alt="Screenshot 2021-02-13 at 10 19 45" src="https://user-images.githubusercontent.com/37049065/107847

[2021-02-13 11:31] sjewo commented on #73
It might be a good idea to add some code for labelled columns. I want to add some functions for working with labels anyway.

In the meantime you could just prepare you data manually before exporting:

[code]

[2021-02-13 11:50] jackobailey commented on #73
Thanks. I agree that supporting labelled vectors would be useful. While I could convert the labelled vectors to factors first, it's not useful in this case as it changes the numbers to be sequential. However, we need, for example, "Don't know" to be 999 in all cases and can't do this with factors that number each value label sequentially.

[2021-02-13 11:56] sjewo commented on #73
I think it is also possible to keep the numeric codes. I’ll take a look into that.

[2021-02-13 16:54] sjewo commented on #73
I did a rough implementation of labelled vectors in d8af2077bd8ba74c05795d2b53fb2be7bf9657bf . The code will probably change in the future, but you might give it a try:

[code]

[2021-03-07 13:50] JanMarvin commented on #70
Seems this is no longer relevant

[2021-03-07 13:50] #70 closed

[2021-03-23 21:32] dusadrian commented on #73
Thanks for the package. It would be great if (missing) values such as 999 (don't know) could be recoded into Stata missing values such as .a
Ideally, the user could supply the recoding rules: 999 = .a, 998 = .b etc

[2021-03-31 10:16] VioletteM opened #74 "Error when reading a .dta file in R"
I’ve been trying to read a dta file in R (version 4.0.4) on a ubuntu 18.04 lts server using the “readstata13” library but it gives me the “Error in stata_read(filepath, missing.type, select.rows, select.cols, : First byte: Not a dta-file we can read.”

I’ve updated the library, removed and re-installed it...provided the absolute path to the file but still get the same error. I appreciate any help

[2021-03-31 11:21] sjewo commented on #74
Hi!

The file might be damaged. Does the file work in Stata?

Could you also do a test with our develeopment version:

[code]

[2021-03-31 13:16] VioletteM commented on #74
Hello,

Yes it runs fine in stata. I also tried the test version but still get the same error.

[2021-03-31 13:38] JanMarvin commented on #74
If you're unable to share the file, could you please elaborate on which Stata version the file was created, how you are importing it with Stata, on which operating system it was created and on which operating system are you trying to import it, etc.? Otherwise we are unable to help you.

Regarding the check that bails out, it simply reads the first byte. If it's `<` or any integer number (iirc, it

[2021-03-31 14:49] VioletteM commented on #74
It is a quite confidential file that i received from an external source in "dta" format. so it would be difficult to get the stata version in which the file was created. Decided to convert it to csv format. Thank you and i will get to the bottom of it once i get all info on version in which the file was created. Thanks again!

[2021-03-31 15:04] JanMarvin commented on #74
Sure thing. Even if we couldn't help you straight away, we should tweak the output line to print the indicated file version. We can not simply override it, since Stata modified their file format a bunch of times. It's a saveguard against reading incorrect values.

Since I've reverse engineered quite a lot of these older Stata versions, I'm especially interested, if there is one out in the wild, th

[2021-03-31 15:04] #74 closed

[2021-09-29 21:20] GitHunter0 opened #77 "Save additional metadata to .dta"
Hi folks,

First, thank you for this package, it is really helpful to us.

I need to export other metadata to `.dta` file, however I could not find a way to do that.

For example, I tried to fill the `expansion.fields` attributes with some notes, nonetheless all metadata in `attributes()` (except the variable labels) were unavailable in the exported `.dta` file. See a MWE below:

[code]

So, is th

[2021-09-29 21:47] JanMarvin commented on #77
Hello @GitHunter0,

there is a way to achieve this, but since neither of us had any use for it, we never developed a function for users to create these notes. It's been a long time since I had a look at this, but there is an example in one of our tests. If I remember correctly you need this `note0` part for anything you want to document either variables or the entire dataset.

https://github.com/s

[2021-09-29 22:30] GitHunter0 commented on #77
Hey @JanMarvin, it worked! Thank you for sharing this workaround.

[2021-09-29 22:38] JanMarvin commented on #77
Great! Though, it's not really a workaround. It's more like that's how Stata handles things on their end (I just wrote the function on our end, that allows writing this list from R. Ideally there would be some function - on our end - helping the user to write this table, but there is so much to do and so little time :smile:

[2021-09-29 22:38] #77 closed

[2021-11-02 12:44] sjewo commented on #68
Additionally there is a issue while reading factor labels (e.g. ESS9e03_1.dta).

[2021-12-22 10:16] raspatan opened #78 "Select columns based on position (feature request)"
Hi there,

Would be great to be able to select columns based on index/position. I'm working with many files and the names of variables change but not their positions. So something like `read.dta13("myfile.dta",select.cols = c(1,2,4,7))` would be great. Currently it is only possible to select based on name.

There are workarounds of course (subsetting after loading), but for large files this is not

[2021-12-22 11:12] JanMarvin commented on #78
Hi @raspatan ,
should be "easy" to implement. We calculate the position from the `selectcols` vector and the `varnames` inside the file. I'll see if I can add it over the next rainy weekend. I simply never had a use case for this.

https://github.com/sjewo/readstata13/blob/305a7f8940d5682adb9764bff99a4d741d2df596/src/read_dta.cpp#L430-L435

[2021-12-23 15:26] JanMarvin commented on #78
Hi @raspatan ,

I've pushed https://github.com/sjewo/readstata13/commit/2fe8d9185c50608ccb8055df6e8caaf7030a8259 to our testing branch. It uses the same technique as our `select.cols` feature, but was not tested beyond the unittest I've thrown in. If you want to be an early adapter, please let me know if this solves your problem. Please be aware, that our dataset will show the variable names found

[2021-12-23 15:26] #78 closed

[2021-12-23 17:07] raspatan commented on #78
Amazing!! Tested and working! I asked for a second column in a one column file and the error message was "Variable "2" was not found in dta-file." You might want to edit that to indicate column index rather than variable name.

Thanks very much. Happy Christmas!

[2021-12-23 22:32] JanMarvin commented on #78
Glad it works. Will update the message next year, it's just cosmetics after all.

What do you mean with the help options? The man pages? I have updated them too, they should work just fine. Until then you can look at https://sjewo.github.io/readstata13/ They haven't changed a lot. A few examples are in the vignette branch, which hasn't evolved a lot in the past.

[2022-01-06 12:04] raspatan opened #79 "Problem when importing factor variables with missing labels"
I have a problem when importing labels from Stata to R. Problem seems to occur because the variable has missing labels. `read.dta13` seems to assign values without labels first and keep those with labels at the end. This seriously affects the consistency of the data (var = 3 in Stata is not var = 3 in R!). All the details, with images and data sample are [here](https://stackoverflow.com/questions/

[2022-01-06 12:27] JanMarvin commented on #79
Hi @raspatan , does the `generate.factor` option solve your issues? Without any minimal reproduceable example it's hard to guess what you are looking for. R simply has no built in type similar to Statas (half) labeled variables. If you want numerical values to be identical, simply don't use  factors. If you want factors, don't expect numerical values to be identical.
I'd say that's a won't fix fro

[2022-01-07 10:36] raspatan commented on #79
Hi @JanMarvin

No, `generate.factor` does not solve the problem. I know I didn't offer a reproducible example but the Stata data is in the link.

I guess what I'm after is a third way. With `convert.factor=FALSE`, you get the Stata numeric values. With `covert.factor=TRUE`, you get the Stata factors, **but with different values** (starting at 1). `generate.factor` makes no difference to the latter

[2022-01-07 12:06] JanMarvin commented on #79
Hi @raspatan , the issue is that you cannot assume that when you import something from one statistical pacakge to another, that it provides all the same functionality. For this package it is similar with Statas support for variable labels or dataset labels. But it is true for every other conversion from one package to another, with SAS, SPSS or even something like Excel. There are always compromis

[2022-01-07 14:22] raspatan commented on #79
Yes, this is true. I think I got used to things working fine in the past. I just started to use factors in R.

I'm not expert in R or related languages so cannot really comment on the complexity of the issue. But I take your word for it.

And sorry for sounding aggressive. It was not my intention. It is of course on the part of the user to check things work but I still suggest you add a warning or

[2022-01-07 17:09] JanMarvin commented on #79
Well, don't worry about it, I guess we can always improve the documentation. But writing documentation is not the fun part of development :smile:

[2022-06-13 13:19] vkhodygo commented on #57
@JanMarvin  I see that this feature have been merged already. However, I don't really get how to enable it. Could you provide a few commentaries regarding this?

[2022-06-13 13:52] vkhodygo opened #80 "Inconsistent read times"
I've been trying to improve reading times of some moderately large `.dta` files (about 5GB each), however, those times sometimes differ by an order of magnitude. The actual value is about 6 minutes (I use `tictoc` for this), however, sometimes it get stuck and I have to wait for about 2 hours to get it done  (with barely any disk activity).

Please, let me know what extra information you need in a

[2022-06-13 14:09] JanMarvin commented on #80
Hi @vkhodygo , well there isn't really something on our end I can think of. Maybe some other process is blocking your memory or the CPU cycle or the disk. We simply read a file from the first to the last byte in sequencial order.

[2022-06-13 14:22] vkhodygo commented on #57
@JanMarvin That's a shame. Do you have any other ideas on how to speed up reading? I noticed that my CPU is the bottleneck, however, I'm not sure where to go from this point.
Thanks for the idea though.

[2022-06-13 14:35] JanMarvin commented on #57
Unfortunately your best chance is to reduce the dataset to the parts you really need. Selecting specific columns or rows of the dataset can help speeding things up. Also you might look into storing it in another format or database, if you cannot keep the data in memory. Though I cannot advice a specific format. I usually try to avoid reading huge data files in R.

[2022-06-13 15:10] vkhodygo commented on #80
This is extremely odd: I've rebooted the machine for the sake of consistency, Same files, same order, same code, read speed is somewhere around 1-2MB/s which is somewhat unacceptable.

[2022-06-13 15:18] JanMarvin commented on #80
Could you please provide the output of `sessionInfo()`. Though I still don't think that it's us causing the slowdowns. Do you have the file on your local desktop? Is there some Antivirus running and interfering? It might as well be your station failing.

[2022-06-14 08:57] JanMarvin commented on #57
As a follow up for the parallel approach. It might be possible to read the file in a stringbuf. From there it should be possible to work on chunks of a row size with openmp. But I never got it working, afaik accessing the data frame in parallel was an issue as well, and right now I have neither the time nor the need to look into it further.

[2022-10-25 23:50] #80 closed

[2022-11-22 14:07] anjoung commented on #65
Hi! I am getting the following error message when I use your package:

[2022-11-22 14:31] JanMarvin commented on #65
Maybe due to missing values in the date file? Could you have a look @sjewo ? I'm a bit swamped with other things ATM.

[2022-11-22 14:34] JanMarvin commented on #65
Thanks for the report @anjoung , that's not supposed to throw a warning and looks like lazy coding.

[2022-11-22 14:47] sjewo commented on #65
The file is not public. Could give us another link?

[2022-11-23 14:28] anjoung commented on #65
Sorry about that. Let me know if this link works: https://www.dropbox.com/s/3s90yn9hmcc6n7z/temp.dta?dl=0

[2022-11-23 16:24] sjewo commented on #65
Thanks for the new link, @anjoung !

The warnings only occurs if NA values are present (e.g. in variable `treat_quarter`).

I'll post a fix.

[2022-11-23 19:51] JanMarvin commented on #65
Thanks!